In [45]:
#Task 1: Data Preparation
# "You will start by loading the CSV data from the file (using appropriate pandas functions) and checking whether the loaded data is equivalent to the data in the source CSV file.
# Then, you need to clean the data by using the knowledge we taught in the lectures. You need to deal with all the potential issues/errors in the data appropriately (such as: typos, extra whitespaces, sanity checks for impossible values, and missing values etc). "

# Please structure code as follows: 
# always provide one line of comments to explain the purpose of the code, e.g. load the data, checking the equivalent to original data, checking typos (do this for each other types of errors)
# Formatting the csv file
import shutil
# Create a copy of the csv file
shutil.copyfile('data/Automobile.csv', 'data/Automobile-copy.csv')
file_location = 'data/Automobile-copy.csv'
try:
    s = open(file_location).read()
    # Replacing '#' with ',' and '-' with ''
    s = s.replace('#', ',').replace('-', '')
    f = open(file_location, 'w')
    f.write(s)
    f.close()
except Exception as e:
    print(e)

In [46]:
import pandas as pd
import matplotlib.pyplot as plt
# Reading the formatted data
data = pd.read_csv(file_location, sep=',', decimal='.', header=None, names=[
    'symboling', 'normalized-losses', 'make', 'fuel-type', 'aspiration', 'num-of-doors', 'body-style', 'drive-wheel',
    'engine-location', 'wheel-base', 'length', 'width', 'height', 'curb-weight', 'engine-type', 'num-of-cylinders',
    'engine-size', 'fuel-system', 'bore', 'stroke', 'compression-ratio', 'horsepower', 'peak-rpm', 'city-mpg', 
    'highway-mpg', 'price'
])
# Lower all string values
data = data.apply(lambda x: x.str.lower() if(x.dtype == 'object') else x)
# Trim all redundant whitespaces
data = data.apply(lambda x: x.str.strip() if(x.dtype == 'object') else x)
# Displaying the first 10 values
data.tail(10)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheel,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
228,1,95.0,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134.0,5500.0,18,23,21485.0
229,1,95.0,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106.0,4800.0,26,27,22470.0
230,1,95.0,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114.0,5400.0,19,25,22625.0
231,4,25.0,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114.0,5400.0,23,28,16845.0
232,1,95.0,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160.0,5300.0,19,25,19045.0
233,1,95.0,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134.0,5500.0,18,23,21485.0
234,1,NaN,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106.0,4800.0,26,27,22470.0
235,1,NaN,vol00112ov,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114.0,5400.0,19,25,22625.0
236,1,95.0,volvo,diesel,turrrrbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106.0,4800.0,26,27,0.0
237,1,95.0,volvo,gas,turbo,fourr,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114.0,5400.0,19,25,0.0

In [32]:
# Displaying columns with NaN values
data.columns[data.isna().any()].tolist()

['normalized-losses',
 'num-of-doors',
 'bore',
 'stroke',
 'horsepower',
 'peak-rpm',
 'price']

In [51]:
# Count the values of make column to find typos
data['make'].value_counts()

AttributeError: 'DataFrame' object has no attribute 'value_counts'

In [50]:
# Replace typo in make column
mask_make = data['make'] == 'vol00112ov'
data.loc[mask_make, 'make'] = 'volvo'
data['make'].value_counts()

volvo           44
toyota          32
nissan          18
mazda           17
mitsubishi      13
honda           13
volkswagen      12
subaru          12
peugot          11
dodge            9
bmw              8
mercedesbenz     8
audi             7
plymouth         7
saab             6
porsche          5
isuzu            4
chevrolet        3
jaguar           3
alfaromero       3
renault          2
mercury          1
Name: make, dtype: int64

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheel,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
233,-1#95#volvo #gas#std#four#sedan#rwd#front#109....,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
234,-1##volvo #diesel#turbo#four#sedan#rwd#front#1...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
235,-1##vol00112ov#gas#turbo#four#sedan#rwd#front#...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
236,-1#95#volvo#diesel#turrrrbo#four#sedan#rwd#fro...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
237,-1#95#volvo#gas#turbo#fourR#sedan#rwd#front#10...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# Task 2: Data Exploration
# 1. Choose 1 column with nominal values, 1 column with ordinal Values, and 1 column with numerical values


#Code goes after this line

In [7]:
# Task 2: Data Exploration
# 2. Explore the relationships between columns; at least 3 visualisations with plausible hypothesis

#Code goes after this line

In [8]:
# Task 2: Data Exploration
# 3. Scatter matrix for all numerical columns

#Code goes after this line